build/**
Resources/animation/**
./svn/**
Resources/sound/**
Resources/.svn/**
Resources/.svn/**
Resources/content/.svn/**
Resources/css/.svn/**
Resources/images/.svn/**
Resources/iphone/.svn/**
Resources/l10n/.svn/**
Resources/images/custom_tableview/.svn/**
Resources/images/formula_list/.svn/**
Resources/images/tips_panel/.svn/**
